<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqRHmy-Rf57Zg9_c1hQXiq-Sdr5CLUzK4</string>
	<key>GCM_SENDER_ID</key>
	<string>960470268368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeros</string>
	<key>PROJECT_ID</key>
	<string>zeros-47496</string>
	<key>STORAGE_BUCKET</key>
	<string>zeros-47496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960470268368:ios:a2178cc57ececbcc4f21d5</string>
</dict>
</plist>