<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcSssXmfjq-Y4SnlX0XAtzlGzI6JmOlYE</string>
	<key>GCM_SENDER_ID</key>
	<string>8476769465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZM</string>
	<key>PROJECT_ID</key>
	<string>zeros-f8194</string>
	<key>STORAGE_BUCKET</key>
	<string>zeros-f8194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8476769465:ios:f1fedc14d063ac039d6f68</string>
</dict>
</plist>